HTML 
    head
        title pug example page
        body 
            h1 hello pug module
            h2 Nice to meet you
            a(href="https://github.com/pugjs/pug", data-set="multipleAttribute") Github for pug